@CHARSET "ISO-8859-1";

 
.hidden-text > img   {
	color: transparent !important;
	display: none;
}

.FAIL > img {
	height: 50%;
	width: 50% !important;
}

.NEWS > img   {
    height: 50%;
    width: 50% !important;
}

.AMUSING > img   {
    height: 50%;
    width: 50% !important;
}

.INTERESTING > img   {
    height: 50%;
    width: 50% !important;
}

.MISC > img {
    height: 50%;
    width: 50% !important;
}

.SAD > img   {
    height: 50%;
    width: 50% !important;
 }

.SAPPY > img   {
    height: 50%;
    width: 50% !important;
}

.SATIRE > img   {
    height: 50%;
    width: 50% !important;
}

.SICK > img   {
    height: 50%;
    width: 50% !important;
}

.SILLY > img   {
    height: 50%;
    width: 50% !important;
 }

.STRANGE > img   {
    height: 50%;
    width: 50% !important;
}

.STUPID > img   {
    height: 50%;
    width: 50% !important;
 }

.SURVEY > img   {
    height: 50%;
    width: 50% !important;
}

.ASININE > img   {
    height: 50%;
    width: 50% !important;
}

.PSA > img   {
    height: 50%;
    width: 50% !important;
}

.OBVIOUS > img   {
    height: 50%;
    width: 50% !important;
}

.SPIFFY > img   {
    height: 50%;
    width: 50% !important;
}

.WEIRD > img   {
    height: 50%;
    width: 50% !important;
}

.COOL > img   {
    height: 50%;
    width: 50% !important;
}

.SCARY > img   {
    height: 50%;
    width: 50% !important;
}

.IRONIC > img   {
    height: 50%;
    width: 50% !important;
}

.BOOBIES > img   {
    height: 50%;
    width: 50% !important;
}

.CAPTION > img   {
    height: 50%;
    width: 50% !important;
}

.PHOTOSHOP > img   {
    height: 50%;
    width: 50% !important;
}

.PLUG > img   {
    height: 50%;
    width: 50% !important;
}

.WEENERS > img   {
    height: 50%;
    width: 50% !important;
}

.FOLLOWUP > img   {
    height: 50%;
    width: 50% !important;
}

.WALKEN > img   {
    height: 50%;
    width: 50% !important;
}
.HERO > img   {
    height: 50%;
    width: 50% !important;
}

.N > img   {
    height: 50%;
    width: 50% !important;
}

.AUDIO > img   {
    height: 50%;
    width: 50% !important;
}

.VIDEO > img   {
    height: 50%;
    width: 50% !important;
}

.WHEATON > img   {
    height: 50%;
    width: 50% !important;
}

.UNLIKELY > img   {
    height: 50%;
    width: 50% !important;
}

.DUMBASS > img   {
    height: 50%;
    width: 50% !important;
}

.FLORIDA > img   {
    height: 50%;
    width: 50% !important;
}

.ADVICE > img   {
    height: 50%;
    width: 50% !important;
}

.AudioEdit > img   {
    height: 50%;
    width: 50% !important;
}

.VideoEdit > img   {
    height: 50%;
    width: 50% !important;
}

.Farktography > img   {
    height: 50%;
    width: 50% !important;
}

.FARKBLOG > img   {
    height: 50%;
    width: 50% !important;height: 50%;
    width: 50% !important;
}

.TRAVEL > img   {
    height: 50%;
    width: 50% !important;
}
.FARKPARTY > img   {
    height: 50%;
    width: 50% !important;
}
.CATURDAY > img   {
    height: 50%;
    width: 50% !important;
}

.REPEAT > img   {
    height: 50%;
    width: 50% !important;
}

.HOTY > img   {
    height: 50%;
    width: 50% !important;
}

.CSB > img   {
    height: 50%;
    width: 50% !important;
}